# === React ===
/blue-front/node_modules
/blue-front/dist
/blue-front/build
/blue-front/.env
/blue-front/.env.local
/blue-front/.env.*.local
/blue-front/.cache
/blue-front/.vite

# === NestJS ===
/blue-back/node_modules
/blue-back/dist
/blue-back/build
/blue-back/tmp
/blue-back/.env
/blue-back/.env.development
/blue-back/.env.test
/blue-back/.env.production

# === 공통 로그 및 임시파일 ===
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.temp
.tmp

# IDE 설정 파일 (필요에 따라 추가)
.vscode/
*.tsbuildinfo

#docker 실서버 배포 파일
docker-compose.prod.yml
Dockerfile.prod

